# Default values for qtest-launch app.

reloader:
  enabled: false


image:
  repository: qasymphony/launch
  pullPolicy: IfNotPresent
  tag: "1.6.5"

service:
  type: LoadBalancer
  port: 3080
  targetPort: 3080
  servicename: qtest-launch-service

qTestLaunch:
  qTestLaunchPostgresUrl: "postgresql://postgres:postgres@postgres.local/qtest"
  qTestLaunchRootURL: http://launch.container-dev.qtestdev.com
  qTestLaunchQTestURL: http://qtestdev1.container-dev.qtestdev.com
  qTestLaunchNodeTLSRejectUnAuthorized: "0"
  qTestLaunchTCPWD: "qTest"
  qTestLaunchPort: "3080"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  canary:
    annotations: {}
  labels: {}
  hosts:
    - launch.container-dev.qtestdev.com
  paths:
    - /
  extraPaths:
    []
  tls:
    []
  https: false

# VPA values
vpaAutoscaling:
  enabled: false
  updatePolicy:
    updateMode: "Off"

# HPA values
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  healthApiPath: /health-check
  periodSeconds: 30
  failureThreshold: 4
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 85
