apiVersion: v1
kind: ConfigMap
metadata:
  name: qtest-insights-etl-configmap
  namespace: {{ .Values.namespace.name }}
  labels:
    app: qTestInsightsEtl
data:
  LOG_PATH: "{{ .Values.qTestInsightsEtl.qTestInsightsProxyEnabled }}"
  QTEST_DB_NAME: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBName }}"
  QTEST_DB_HOST: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBHost }}"
  QTEST_DB_USER: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBUser }}"
  QTEST_DB_PORT: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBPort }}"
  QTEST_DB_SCHEMA_NAME: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBSchemaName }}"
  WRITE_QTEST_DB_NAME: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlWriteQTestDBName }}"
  WRITE_QTEST_DB_HOST: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlWriteQTestDBHost }}"
  WRITE_QTEST_DB_USER: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlWriteQTestDBUser }}"
  WRITE_QTEST_DB_PORT: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlWriteQTestDBPort }}"
  SESSIONS_DB_NAME: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBName }}"
  SESSIONS_DB_HOST: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBHost }}"
  SESSIONS_DB_USER: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBUser }}"
  SESSIONS_DB_PORT: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBPort }}"
  SESSIONS_DB_SCHEMA: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBSchema }}"
  WRITE_SESSIONS_DB_HOST: "{{ .Values.qTestInsightsEtl.writeSessionsDBHost }}"
  WRITE_SESSIONS_DB_NAME: "{{ .Values.qTestInsightsEtl.writeSessionsDBName }}"
  WRITE_SESSIONS_DB_USER: "{{ .Values.qTestInsightsEtl.writeSessionsDBUser }}"
  WRITE_SESSIONS_DB_PORT: "{{ .Values.qTestInsightsEtl.writeSessionsDBPort }}"
  WRITE_SESSIONS_DB_SCHEMA: "{{ .Values.qTestInsightsEtl.writeSessionsDBSchema }}"
  UPDATEDB: "true"
  AUTO_REFRESH_DBLINK: "{{ .Values.qTestInsightsEtl.autoRefreshDBLink }}"
