apiVersion: v1
data:
  QTEST_DB_PW: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlDBPassword }}"
  WRITE_QTEST_DB_PW: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlWriteQTestDBPassword }}"
  SESSIONS_DB_PW: "{{ .Values.qTestInsightsEtl.qTestInsightsEtlSessionDBPassword }}"
kind: Secret
metadata:
  name: qtest-insights-etl-secret
type: Opaque
