apiVersion: v1
kind: ConfigMap
metadata:
  name: qtest-insights-configmap
  namespace: {{ .Values.namespace.name }}
  labels:
    app: qTestInsights
data:
  CATALINA_OPTS: "{{ .Values.qTestInsights.qTestInsightsCatalinaOpts }}"
  QTEST_DB_NAME: "{{ .Values.qTestInsights.qTestInsightsDBName }}"
  QTEST_DB_HOST: "{{ .Values.qTestInsights.qTestInsightsDBHost }}"
  QTEST_DB_USER: "{{ .Values.qTestInsights.qTestInsightsDBUser }}"
  QTEST_DB_PORT: "{{ .Values.qTestInsights.qTestInsightsDBPort }}"
  QTEST_DB_SCHEMA: "{{ .Values.qTestInsights.qTestInsightsDBSchema }}"
  WRITE_QTEST_DB_NAME: "{{ .Values.qTestInsights.qTestInsightsWriteQTestDBName }}"
  WRITE_QTEST_DB_HOST: "{{ .Values.qTestInsights.qTestInsightsWriteQTestDBHost }}"
  WRITE_QTEST_DB_USER: "{{ .Values.qTestInsights.qTestInsightsWriteQTestDBUser }}"
  WRITE_QTEST_DB_PORT: "{{ .Values.qTestInsights.qTestInsightsWriteQTestDBPort }}"
  WRITE_QTEST_DB_SCHEMA: "{{ .Values.qTestInsights.qTestInsightsWriteQTestDBSchema }}"
  SESSIONS_DB_NAME: "{{ .Values.qTestInsights.qTestInsightsSessionDBName }}"
  SESSIONS_DB_HOST: "{{ .Values.qTestInsights.qTestInsightsSessionDBHost }}"
  SESSIONS_DB_USER: "{{ .Values.qTestInsights.qTestInsightsSessionDBUser }}"
  SESSIONS_DB_PORT: "{{ .Values.qTestInsights.qTestInsightsSessionDBPort }}"
  SESSIONS_DB_SCHEMA: "{{ .Values.qTestInsights.qTestInsightsSessionDBSchema }}"
  SMTP_ACCOUNT: "{{ .Values.qTestInsights.smtp.account }}"
  SMTP_SERVER: "{{ .Values.qTestInsights.smtp.server }}"
  SSL_MOUNT_PATH: "{{ .Values.qTestInsights.server.sslMountPath }}"
  IS_SSL_REQUIRED: "{{ .Values.qTestInsights.serverAppSSLRequired }}"
  {{- if .Values.qTestInsights.qTestInsightsSSLCipherSuites }}
  SSL_CIPHERS: "ciphers=\"{{- join "," .Values.qTestInsights.qTestInsightsSSLCipherSuites -}}\""
  {{- end -}}