{{- $existingImageCredentials := .Values.imageCredentials.existingImageCredentials -}}
{{- $imageCredentials := .Values.imageCredentials.name -}}
{{- $affinity := deepCopy (default (dict) .Values.affinity) | merge (.Values.deployment.singlePodPerNode | ternary (include "qtest-insights.podAntiAffinity" . | fromYaml) (dict)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qtest-insights
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.rollouts.enabled }}
  replicas: 0
  {{- else }}
  replicas: {{ .Values.autoscaling.minReplicas }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: qtest-insights
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: qtest-insights
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
    {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
{{ toYaml . | indent 8 }}
    {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- if .Values.securityContext }}
      securityContext: {{- toYaml .Values.securityContext | nindent 8 }}
      {{- end }}
      {{- if .Values.extraInitContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      initContainers:
      {{- if eq "string" (printf "%T" .Values.extraInitContainers) }}
{{ tpl .Values.extraInitContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      {{- end }}
    {{ if .Values.imageCredentials.enabled }}
      {{ if .Values.imageCredentials.existingImageCredentials }}
      imagePullSecrets:
        - name: {{ $existingImageCredentials }}
      {{ else }}
      imagePullSecrets:
        - name: {{ $imageCredentials }}
      {{- end }}
    {{- end }}
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
{{- if .Values.extraArgs }}
          args:
{{- with .Values.extraArgs }}
{{ toYaml . | indent 12 }}
{{- end }}
{{- end }}
          livenessProbe:
          {{- if .Values.qTestInsights.serverAppSSLRequired }}
           {{- toYaml .Values.autoscaling.livenessSslProbe | nindent 12 }}
          {{- else }}
           {{- toYaml .Values.autoscaling.livenessProbe | nindent 12 }}
          {{- end }}
          readinessProbe:
          {{- if .Values.qTestInsights.serverAppSSLRequired }}
           {{- toYaml .Values.autoscaling.readinessSslProbe | nindent 12 }}
          {{- else }}
           {{- toYaml .Values.autoscaling.readinessProbe | nindent 12 }}
          {{- end }}
          startupProbe:
          {{- if .Values.qTestInsights.serverAppSSLRequired }}
           {{- toYaml .Values.autoscaling.startupSslProbe | nindent 12 }}
          {{- else }}
           {{- toYaml .Values.autoscaling.startupProbe | nindent 12 }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
          {{- if .Values.qTestInsights.serverAppSSLRequired }}
          - containerPort: {{ .Values.service.targetHttpsPort }}
            name: https
            protocol: TCP
          {{- else }}
          - containerPort: {{ .Values.service.targetPort }}
            name: http
            protocol: TCP
          {{- end }}
          envFrom:
            - configMapRef:
                name: qtest-insights-configmap
          env:
            - name: QTEST_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: WRITE_QTEST_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: SESSIONS_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.sessionsName }}
                  key: client.jdbc.postgres.password
            - name: WRITE_SESSIONS_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.sessionsName }}
                  key: client.jdbc.postgres.password
            - name: INSIGHTS_RO_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: insightsReadOnly
            - name: SESSION_RO_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: sessionReadOnly
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: qtest-manager-secret
                  key: mail.password
{{- with .Values.extraEnv }}
{{ toYaml . | indent 12 }}
{{- end }}
          volumeMounts:
            - name: qtest-insights
              mountPath: /usr/local/tomcat/logs/
              subPath: data/logs
            {{- if .Values.qTestInsights.serverAppSSLRequired }}
            - name: qtest-insights-secret-ssl-volume
              mountPath: {{ .Values.qTestInsights.server.sslMountPath }}
              readOnly: true
            {{- end }}
{{- with .Values.extraVolumeMounts }}
{{ toYaml . | indent 12 }}
{{- end }}
      {{- if .Values.extraContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      {{- if eq "string" (printf "%T" .Values.extraContainers) }}
{{ tpl .Values.extraContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraContainers | indent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        - name: qtest-insights
        {{- if .Values.persistence.existingClaim }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}
        {{- else if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-insights.fullname" . }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: qtest-insights-ephemeral
          emptyDir: {}
        {{- if .Values.qTestInsights.serverAppSSLRequired }}
        - name: qtest-insights-secret-ssl-volume
          secret:
            secretName: qtest-ssl-root-secret
        {{- end }}
{{- with .Values.extraVolumes }}
{{ toYaml . | indent 8 }}
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
