# Default values for scenario App.
namespace:
  name: qtest
reloader:
  enabled: false
secrets:
  enabled: true
  name: qtest-manager-secret
image:
  repository: qasymphony/scenario
  pullPolicy: IfNotPresent
  tag: "2025.8.0"
imageCredentials:
  enabled: false
  # name: ""
  # registry: ""
  # username: ""
  # password: ""
  # email: ""
  # existingImageCredentials: ""
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # A service account will be created for you if set to true. Set to false if you want to use your own.
  name: "qtest-scenario-sa"
deployment:
  annotations: {}
  singlePodPerNode: false
podAnnotations: {}
rollouts:
  enabled: false
  ingressClassName: alb
  strategy:
    canary:
      maxSurge: "25%"
      maxUnavailable: 0
  steps:
    - setWeight: 20
    # if prometheus metrics are enabled
    # - analysis:
    #     templates:
    #     - templateName: success-rates
    #       clusterScope: true
    #     args:
    #     - name: service-name
    - setWeight: 50
    - pause: {duration: 10s}
service:
  type: LoadBalancer
  annotations: {}
  port: 6080
  targetPort: 6080
  targetHttpsPort: 6443
  serviceName: qtest-scenario-service
extraInitContainers: []
extraContainers: []
extraArgs: []
extraEnv: []
extraVolumeMounts: []
extraVolumes: []
qTestScenario:
  qTestScenarioDBName: scenario
  qTestScenarioDBUserName: postgres
  qTestScenarioDBHostName: host.docker.internal
  qTestScenarioDBPort: "5432"
  qTestScenarioPort: "6080"
  qTestScenarioLocalBaseURL: https://scenario.local
  qTestScenarioSwaggerUrl: https://qtest.dev.tricentis.com
  qTestScenarioNodeTLSRejectUnAuthorized: "0"
  qTestScenarioNodeEnvironment: production
  qTestScenarioRefreshTokenSecret: "secret"
  ScenarioJiraCypherKey: "secret"
  qTestScenarioAppKeyDescriptor: ""
  qTestScenarioQTestURL: https://nephele.qtest.local
  qTestScenarioDBSSLEnable: false
  qTestScenarioSSLRequired: false
  qTestScenarioSSLMountPath: "/mnt/secrets/tls"
  qTestScenarioDBSSLMountPath: "/etc/ssl"
  qTestScenarioDBSSL: ""
  qTestScenarioDBCRT: ""
  # Array of cipher suites for SSL/TLS connection in OpenSSL format (e.g. ["TLS_AES_256_GCM_SHA384", "TLS_CHACHA20_POLY1305_SHA256"])
  qTestScenarioSSLCipherSuites: []
  qTestScenarioDeploymentEnv: "op"
  qTestScenarioNodeOptions: ""
#### Ingress/IngressClass (> K8s 1.24-1.30+) #####
ingressClass:
  enabled: false
  labels: {}
  controller: ingress.k8s.aws/alb
  isDefaultClass: true
  # Use to force a networking.k8s.io API Version for certain CI/CD applications. Ex. "v1"
  fallbackApiVersion: ""
ingress:
  enabled: true
  name: scenario-ingress
  labels: {}
  annotations: {}
  canary:
    annotationPrefix: ""
    annotations: {}
  hosts:
    - host: qtest.svc.com
  paths: []
  extraPaths:
    - path: /*
      backendServiceName: qtest-scenario-service
      pathType: ImplementationSpecific
      backendPort: 6080
  tls: []
  # - secretName: qtest-svc-tls
  #   hosts:
  #     - svc.qtest.com
  https: false
persistence:
  enabled: false
  ## Set annotations on pvc
  annotations: {}
  storageClass:
  accessMode: ReadWriteOnce
  size: 5Gi
  ## Specify extra volumes. Refer to ".spec.volumes" specification : https://kubernetes.io/fr/docs/concepts/storage/volumes/
  volumes: []
  ## Specify extra mounts. Refer to ".spec.containers.volumeMounts" specification : https://kubernetes.io/fr/docs/concepts/storage/volumes/
  mounts: []
# VPA values
vpaAutoscaling:
  enabled: false
  updatePolicy:
    updateMode: "Off"
  resourcePolicy:
    containerPolicies:
      - containerName: '*'
        controlledValues: RequestsAndLimits
# HPA values
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  healthApiPath: /atlassian-connect.json
  periodSeconds: 30
  failureThreshold: 4
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 85
podDisruptionBudget:
  enabled: true
resources:
  requests:
    cpu: 1
    memory: 1Gi
  limits:
    cpu: 1
    memory: 1Gi
limitRange:
  enabled: false
resourceQuota:
  enabled: false
livenessProbe:
  httpGet:
    path: /atlassian-connect.json
    port: 6080
  periodSeconds: 30
livenessSslProbe:
  httpGet:
    path: /atlassian-connect.json
    scheme: HTTPS
    port: 6443
  periodSeconds: 30
readinessProbe:
  httpGet:
    path: /atlassian-connect.json
    port: 6080
  periodSeconds: 30
readinessSslProbe:
  httpGet:
    path: /atlassian-connect.json
    scheme: HTTPS
    port: 6443
  periodSeconds: 30
startupProbe:
  httpGet:
    path: /atlassian-connect.json
    port: 6080
  failureThreshold: 4
  periodSeconds: 30
startupSslProbe:
  httpGet:
    path: /atlassian-connect.json
    scheme: HTTPS
    port: 6443
  failureThreshold: 4
  periodSeconds: 30
nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: {}
