# Default values for qtest-parameters-chart.
namespace:
  name: qtest
reloader:
  enabled: false
secrets:
  name: qtest-manager-secret
  secretKey: client.jdbc.postgres.password
image:
  repository: qasymphony/parameters
  pullPolicy: IfNotPresent
  tag: "2024.2.0"
imageCredentials:
  enabled: false
  # name: ""
  # registry: ""
  # username: ""
  # password: ""
  # email: ""
  # existingImageCredentials: ""
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # A service account will be created for you if set to true. Set to false if you want to use your own.
  name: "qtest-parameters-sa"
deployment:
  annotations: {}
  singlePodPerNode: false
podAnnotations: {}
rollouts:
  enabled: false
  ingressClassName: alb
  strategy:
    canary:
      maxSurge: "25%"
      maxUnavailable: 0
  steps:
    - setWeight: 20
    # if prometheus metrics are enabled
    # - analysis:
    #     templates:
    #     - templateName: success-rates
    #       clusterScope: true
    #     args:
    #     - name: service-name
    - setWeight: 50
    - pause: { duration: 10s }
extraInitContainers: []
extraContainers: []
extraArgs: []
extraEnv: []
extraVolumeMounts: []
extraVolumes: []
service:
  type: LoadBalancer
  annotations: {}
  port: 5080
  targetPort: 5080
  targetHttpsPort: 5443
  serviceName: qtest-parameters-service
qTestParameters:
  qTestParametersDBName: parameters
  qTestParametersDBUserName: postgres
  qTestParametersDBHostName: postgres.local
  qTestParametersDBPort: "5432"
  qTestParametersQTestHost: https://nephele.qtest.local
  qTestParametersNodeTLSRejectUnAuthorized: "0"
  qTestParametersNodeEnv: production
  qTestParametersPort: 5080
  qTestParametersDBSSLEnable: false
  qTestParametersDBSSLMountPath: "/etc/ssl"
  qTestParametersDBSSL: ""
  qTestParametersDBCRT: ""
  qTestParametersSSLRequired: false
  qTestParametersSSLMountPath: "/mnt/secrets/tls"
  qTestParametersCorsOrigin: "tricentis.com"
  qTestParametersDeploymentEnv: "saas"
#### Ingress/IngressClass (> K8s 1.24-1.30+) #####
ingressClass:
  enabled: false
  labels: {}
  controller: ingress.k8s.aws/alb
  isDefaultClass: true
  # Use to force a networking.k8s.io API Version for certain CI/CD applications. Ex. "v1"
  fallbackApiVersion: ""
ingress:
  enabled: true
  name: qtest-parameters-ingress
  labels: {}
  annotations: {}
  canary:
    annotationPrefix: ""
    annotations: {}
    # canary-by-header: []
    # canary-by-header-pattern: []
  hosts:
    - host: parameters.qtest.local
  paths: []
  extraPaths:
    - path: /*
      backendServiceName: qtest-parameters-service
      pathType: ImplementationSpecific
      backendPort: 5080
  tls: []
  # - secretName: qtest-svc-tls
  #   hosts:
  #     - svc.qtest.com
  https: false
persistence:
  enabled: false
  ## Set annotations on pvc
  annotations: {}
  storageClass:
  accessMode: ReadWriteOnce
  size: 5Gi
  ## Specify extra volumes. Refer to ".spec.volumes" specification : https://kubernetes.io/fr/docs/concepts/storage/volumes/
  volumes: []
  ## Specify extra mounts. Refer to ".spec.containers.volumeMounts" specification : https://kubernetes.io/fr/docs/concepts/storage/volumes/
  mounts: []
# VPA values
vpaAutoscaling:
  enabled: false
  updatePolicy:
    updateMode: "Off"
  resourcePolicy:
    containerPolicies:
      - containerName: "*"
        controlledValues: RequestsAndLimits
# HPA values
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  healthApiPath: /health-check
  periodSeconds: 30
  failureThreshold: 4
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 85
resources:
  requests:
    cpu: 1
    memory: 1Gi
  limits:
    cpu: 1
    memory: 1Gi
limitRange:
  enabled: false
resourceQuota:
  enabled: false
livenessProbe:
  httpGet:
    path: /health-check
    port: 5080
  periodSeconds: 30
livenessSslProbe:
  httpGet:
    path: /health-check
    scheme: HTTPS
    port: 5443
  periodSeconds: 30
readinessProbe:
  httpGet:
    path: /health-check
    port: 5080
  periodSeconds: 30
readinessSslProbe:
  httpGet:
    path: /health-check
    scheme: HTTPS
    port: 5443
  periodSeconds: 30
startupProbe:
  httpGet:
    path: /health-check
    port: 5080
  failureThreshold: 4
  periodSeconds: 30
startupSslProbe:
  httpGet:
    path: /health-check
    scheme: HTTPS
    port: 5443
  failureThreshold: 4
  periodSeconds: 30
nodeSelector: {}
tolerations: []
affinity: {}
