apiVersion: apps/v1
kind: Deployment
metadata:
  name: qtest-parameters
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.autoscaling.minReplicas }}
  selector:
    matchLabels:
      app: qtest-parameters
  template:
    metadata:
      labels:
        app: qtest-parameters
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
          livenessProbe:
            httpGet:
              path: {{ .Values.autoscaling.healthApiPath }}
              port: {{ .Values.service.targetPort }}
            periodSeconds: {{ .Values.autoscaling.periodSeconds }}
          readinessProbe:
            httpGet:
              path: {{ .Values.autoscaling.healthApiPath }}
              port: {{ .Values.service.targetPort }}
            periodSeconds: {{ .Values.autoscaling.periodSeconds }}
          startupProbe:
            httpGet:
              path: {{ .Values.autoscaling.healthApiPath }}
              port: {{ .Values.service.targetPort }}
            failureThreshold: {{ .Values.autoscaling.failureThreshold }}
            periodSeconds: {{ .Values.autoscaling.periodSeconds }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          env:
            - name: PARAMETERS_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBName
            - name: PARAMETERS_DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBUserName
            - name: PARAMETERS_DB_PWD
              valueFrom:
                secretKeyRef:
                  name: qtest-manager-secret
                  key: client.jdbc.postgres.password
            - name: PARAMETERS_DB_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBHostName
            - name: PG_URL
              {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
              value: {{ printf "postgresql://$(PARAMETERS_DB_USERNAME):$(PARAMETERS_DB_PWD)@$(PARAMETERS_DB_HOSTNAME)/$(PARAMETERS_DB_NAME)%s" .Values.qTestParameters.qTestParametersDBSSL }}
              {{- end }}
              {{- if not .Values.qTestParameters.qTestParametersDBSSLEnable }}
              value: {{ printf "postgresql://$(PARAMETERS_DB_USERNAME):$(PARAMETERS_DB_PWD)@$(PARAMETERS_DB_HOSTNAME)/$(PARAMETERS_DB_NAME)" }}
              {{- end }}
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersNodeTLSRejectUnAuthorized
            - name: QTEST_HOST
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersQTestHost
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersNodeEnv
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersPort
          volumeMounts:
          - name: qtest-parameter-logs
            mountPath: /usr/local/parameters/logs
          {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
          - name: qtest-db-secret-volume
            mountPath: {{ .Values.qTestParameters.qTestParametersDBSSLMountPath }}
          {{- end }}
      volumes:
        - name: qtest-parameter-logs
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-parameters.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
        - name: qtest-db-secret-volume
          secret:
            secretName: qtest-db-root-secret
        {{- end -}}