{{- $existingImageCredentials := .Values.imageCredentials.existingImageCredentials -}}
{{- $imageCredentials := .Values.imageCredentials.name -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "qtest-parameters.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.rollouts.enabled }}
  replicas: 0
  {{- else }}
  replicas: {{ .Values.autoscaling.minReplicas }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: qtest-parameters
  template:
    metadata:
      labels:
        app: qtest-parameters
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
    {{ if .Values.imageCredentials.enabled }}
      {{ if .Values.imageCredentials.existingImageCredentials }}
      imagePullSecrets:
        - name: {{ $existingImageCredentials }}
      {{ else }}
      imagePullSecrets:
        - name: {{ $imageCredentials }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
    {{- end }}
      {{- if .Values.extraInitContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      initContainers:
      {{- if eq "string" (printf "%T" .Values.extraInitContainers) }}
{{ tpl .Values.extraInitContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
{{- if .Values.extraArgs }}
        args:
{{- with .Values.extraArgs }}
{{ toYaml . | indent 10 }}
{{- end }}
{{- end }}
          livenessProbe:
          {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
            {{ .Values.livenessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.livenessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          readinessProbe:
          {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
            {{ .Values.readinessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.readinessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          startupProbe:
          {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
            {{ .Values.startupSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.startupProbe | toYaml | indent 12 | trim }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
            {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
            - containerPort: {{ .Values.service.targetHttpsPort }}
              name: https
            {{- else }}
            - containerPort: {{ .Values.service.targetPort }}
              name: http
            {{- end }}
          env:
            - name: PARAMETERS_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBName
            - name: PARAMETERS_DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBUserName
            - name: PARAMETERS_DB_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: PARAMETERS_DB_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersDBHostName
            - name: PG_URL
              {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
              value: {{ printf "postgresql://$(PARAMETERS_DB_USERNAME):$(PARAMETERS_DB_PWD)@$(PARAMETERS_DB_HOSTNAME)/$(PARAMETERS_DB_NAME)%s" .Values.qTestParameters.qTestParametersDBSSL }}
              {{- end }}
              {{- if not .Values.qTestParameters.qTestParametersDBSSLEnable }}
              value: {{ printf "postgresql://$(PARAMETERS_DB_USERNAME):$(PARAMETERS_DB_PWD)@$(PARAMETERS_DB_HOSTNAME)/$(PARAMETERS_DB_NAME)" }}
              {{- end }}
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersNodeTLSRejectUnAuthorized
            - name: QTEST_HOST
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersQTestHost
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersNodeEnv
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersPort
            - name: SSL_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersIsSSLRequired
            {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
            - name: SSL_CERT
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersSSLCert
            - name: SSL_KEY
              valueFrom:
                configMapKeyRef:
                  name: qtest-parameters-configmap
                  key: qTestParametersSSLKey
            {{- end -}}
{{- with .Values.extraEnv }}
{{ toYaml . | indent 12 }}
{{- end }}
          volumeMounts:
          - name: qtest-parameter-logs
            mountPath: /usr/local/parameters/logs
          {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
          - name: qtest-db-secret-volume
            mountPath: {{ .Values.qTestParameters.qTestParametersDBSSLMountPath }}
          {{- end }}
          {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
          - name: qtest-parameters-secret-ssl-volume
            mountPath: {{ .Values.qTestParameters.qTestParametersSSLMountPath }}
            readOnly: true
          {{- end }}
{{- with .Values.extraVolumeMounts }}
{{ toYaml . | indent 10 }}
{{- end }}
      {{- if .Values.extraContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      {{- if eq "string" (printf "%T" .Values.extraContainers) }}
{{ tpl .Values.extraContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraContainers | indent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        - name: qtest-parameter-logs
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-parameters.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.qTestParameters.qTestParametersDBSSLEnable }}
        - name: qtest-db-secret-volume
          secret:
            secretName: qtest-db-root-secret
        {{- end -}}
        {{- if .Values.qTestParameters.qTestParametersSSLRequired }}
        - name: qtest-parameters-secret-ssl-volume
          secret:
            secretName: qtest-ssl-root-secret
        {{- end }}
{{- with .Values.extraVolumes }}
{{ toYaml . | indent 8 }}
{{- end }}