{{- $existingImageCredentials := .Values.imageCredentials.existingImageCredentials -}}
{{- $imageCredentials := .Values.imageCredentials.name -}}
{{- $affinity := deepCopy (default (dict) .Values.affinity) | merge (.Values.deployment.singlePodPerNode | ternary (include "qtest-pulse.podAntiAffinity" . | fromYaml) (dict)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "qtest-pulse.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.rollouts.enabled }}
  replicas: 0
  {{- else }}
  replicas: {{ .Values.autoscaling.minReplicas }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: {{ include "qtest-pulse.name" . }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ include "qtest-pulse.name" . }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
    {{ if .Values.imageCredentials.enabled }}
      {{ if .Values.imageCredentials.existingImageCredentials }}
      imagePullSecrets:
        - name: {{ $existingImageCredentials }}
      {{ else }}
      imagePullSecrets:
        - name: {{ $imageCredentials }}
      {{- end }}
    {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- if .Values.extraInitContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      initContainers:
      {{- if eq "string" (printf "%T" .Values.extraInitContainers) }}
{{ tpl .Values.extraInitContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
{{- if .Values.extraArgs }}
          args:
{{- with .Values.extraArgs }}
{{ toYaml . | indent 12 }}
{{- end }}
{{- end }}
          livenessProbe:
          {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
            {{ .Values.livenessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.livenessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          readinessProbe:
          {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
            {{ .Values.readinessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.readinessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          startupProbe:
          {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
            {{ .Values.startupSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.startupProbe | toYaml | indent 12 | trim }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
            {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
            - containerPort: {{ .Values.service.targetHttpsPort }}
              name: https
            {{- else }}
            - containerPort: {{ .Values.service.targetPort }}
              name: http
            {{- end }}
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseNodeEnv
            - name: PULSE_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseDBName
            - name: PULSE_DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseDBUserName
            - name: PULSE_DB_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: PULSE_DB_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseDBHostName
            - name: PULSE_DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseDBPort
            - name: PG_URL
              {{- if .Values.qTestPulse.qTestPulseDBSSLEnable }}
              value: {{ printf "postgresql://$(PULSE_DB_USERNAME):$(PULSE_DB_PWD)@$(PULSE_DB_HOSTNAME):$(PULSE_DB_PORT)/$(PULSE_DB_NAME)%s" .Values.qTestPulse.qTestPulseDBSSL }}
              {{- end }}
              {{- if not .Values.qTestPulse.qTestPulseDBSSLEnable }}
              value: {{ printf "postgresql://$(PULSE_DB_USERNAME):$(PULSE_DB_PWD)@$(PULSE_DB_HOSTNAME):$(PULSE_DB_PORT)/$(PULSE_DB_NAME)" }}
              {{- end }}
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulsePort
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseNodeTLSRejectUnAuthorized
            - name: ROOT_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseRootURL
            - name: QTEST_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseQTestURL
            - name: SCENARIO_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseScenarioURL
            - name: TYPE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseType
            - name: EXECUTOR_URL
              valueFrom: 
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qtestPulseExecutorUrl
            - name: SWAGGER_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: swaggerUrl
            - name: DEPLOYMENT_ENV
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseDeploymentEnv
            - name: SSL_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseIsSSLRequired
            {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
            - name: SSL_CERT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseSSLCert
            - name: SSL_KEY
              valueFrom:
                configMapKeyRef:
                  name: {{ include "qtest-pulse.fullname" . }}-configmap
                  key: qTestPulseSSLKey
            {{- end -}}
{{- with .Values.extraEnv }}
{{ toYaml . | indent 12 }}
{{- end }}
          volumeMounts:
          - name: qtest-pulse-logs
            mountPath: /root/.pm2/logs
          {{- if .Values.qTestPulse.qTestPulseDBSSLEnable }}
          - name: qtest-db-secret-volume
            mountPath: {{ .Values.qTestPulse.qTestPulseDBSSLMountPath }}
          {{- end }}
          {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
          - name: qtest-pulse-secret-ssl-volume
            mountPath: {{ .Values.qTestPulse.qTestPulseSSLMountPath }}
            readOnly: true
          {{- end }}
{{- with .Values.extraVolumeMounts }}
{{ toYaml . | indent 10 }}
{{- end }}
      {{- if .Values.extraContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      {{- if eq "string" (printf "%T" .Values.extraContainers) }}
{{ tpl .Values.extraContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraContainers | indent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        - name: qtest-pulse-logs
        {{- if .Values.persistence.existingClaim }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}
        {{- else if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-pulse.fullname" . }}
      {{- else }}
          emptyDir: {}
      {{- end }}
      {{- if .Values.qTestPulse.qTestPulseDBSSLEnable }}
        - name: qtest-db-secret-volume
          secret:
            secretName: qtest-db-root-secret
        {{- end }}
      {{- if .Values.qTestPulse.qTestPulseSSLRequired }}
        - name: qtest-pulse-secret-ssl-volume
          secret:
            secretName: qtest-ssl-root-secret
        {{- end }}
{{- with .Values.extraVolumes }}
{{ toYaml . | indent 6 }}
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
