{{- $existingImageCredentials := .Values.imageCredentials.existingImageCredentials -}}
{{- $imageCredentials := .Values.imageCredentials.name -}}
{{- $affinity := deepCopy (default (dict) .Values.affinity) | merge (.Values.deployment.singlePodPerNode | ternary (include "qtest-launch.podAntiAffinity" . | fromYaml) (dict)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qtest-launch
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.rollouts.enabled }}
  replicas: 0
  {{- else }}
  replicas: {{ .Values.autoscaling.minReplicas }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: qtest-launch
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: qtest-launch
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
    {{ if .Values.imageCredentials.enabled }}
      {{ if .Values.imageCredentials.existingImageCredentials }}
      imagePullSecrets:
        - name: {{ $existingImageCredentials }}
      {{ else }}
      imagePullSecrets:
        - name: {{ $imageCredentials }}
      {{- end }}
    {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- if .Values.extraInitContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      initContainers:
      {{- if eq "string" (printf "%T" .Values.extraInitContainers) }}
{{ tpl .Values.extraInitContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
{{- if .Values.extraArgs }}
          args:
{{- with .Values.extraArgs }}
{{ toYaml . | indent 12 }}
{{- end }}
{{- end }}
          livenessProbe:
          {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
            {{ .Values.livenessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.livenessProbe | toYaml | indent 12 | trim }}
           {{- end }}
          readinessProbe:
          {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
            {{ .Values.readinessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.readinessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          startupProbe:
          {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
            {{ .Values.startupSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.startupProbe | toYaml | indent 12 | trim }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
             {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
             - containerPort: {{ .Values.service.targetHttpsPort }}
               name: https
             {{- else }}
             - containerPort: {{ .Values.service.targetPort }}
               name: http
             {{- end }}
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchPort
            - name: LAUNCH_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchDBName
            - name: DEPLOYMENT_ENV
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchDeploymentEnv
            - name: LAUNCH_DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchDBUserName
            - name: LAUNCH_DB_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: LAUNCH_DB_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchDBHostName
            - name: LAUNCH_DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchDBPort
            - name: PG_URL
              {{- if .Values.qTestLaunch.qTestLaunchDBSSLEnable }}
              value: {{ printf "postgresql://$(LAUNCH_DB_USERNAME):$(LAUNCH_DB_PWD)@$(LAUNCH_DB_HOSTNAME):$(LAUNCH_DB_PORT)/$(LAUNCH_DB_NAME)%s" .Values.qTestLaunch.qTestLaunchDBSSL }}
              {{- end }}
              {{- if not .Values.qTestLaunch.qTestLaunchDBSSLEnable }}
              value: {{ printf "postgresql://$(LAUNCH_DB_USERNAME):$(LAUNCH_DB_PWD)@$(LAUNCH_DB_HOSTNAME):$(LAUNCH_DB_PORT)/$(LAUNCH_DB_NAME)" }}
              {{- end }}
            - name: ROOT_URL
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchRootURL
            - name: QTEST_URL
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchQTestURL
            - name: TCPWD
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchTCPWD
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchNodeTLSRejectUnAuthorized
            - name: SSL_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchIsSSLRequired
            {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
            - name: SSL_CERT
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchSSLCert
            - name: SSL_KEY
              valueFrom:
                configMapKeyRef:
                  name: qtest-launch-configmap
                  key: qTestLaunchSSLKey
            {{- end -}}
{{- with .Values.extraEnv }}
{{ toYaml . | indent 12 }}
{{- end }}
          volumeMounts:
            - name: qtest-launch-logs
              mountPath: /webapp/logs
          {{- if .Values.qTestLaunch.qTestLaunchDBSSLEnable }}
            - name: qtest-db-secret-volume
              mountPath: {{ .Values.qTestLaunch.qTestLaunchDBSSLMountPath }}
          {{- end }}
          {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
            - name: qtest-launch-ssl-volume
              mountPath: {{ .Values.qTestLaunch.qTestLaunchSSLMountPath }}
              readOnly: true
          {{- end }}
{{- with .Values.extraVolumeMounts }}
{{ toYaml . | indent 8 }}
{{- end }}
      {{- if .Values.extraContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      {{- if eq "string" (printf "%T" .Values.extraContainers) }}
{{ tpl .Values.extraContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraContainers | indent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        - name: qtest-launch-logs
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-launch.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
      {{- if .Values.qTestLaunch.qTestLaunchDBSSLEnable }}
        - name: qtest-db-secret-volume
          secret:
            secretName: qtest-db-root-secret
      {{- end -}}
      {{- if .Values.qTestLaunch.qTestLaunchSSLRequired }}
        - name: qtest-launch-ssl-volume
          secret:
            secretName: qtest-ssl-root-secret
      {{- end }}
{{- with .Values.extraVolumes }}
{{ toYaml . | indent 8 }}
{{- end -}}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
