{{- $existingImageCredentials := .Values.imageCredentials.existingImageCredentials -}}
{{- $imageCredentials := .Values.imageCredentials.name -}}
{{- $affinity := deepCopy (default (dict) .Values.affinity) | merge (.Values.deployment.singlePodPerNode | ternary (include "qtest-session.podAntiAffinity" . | fromYaml) (dict)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "qtest-session.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
  {{- with .Values.deployment.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.rollouts.enabled }}
  replicas: 0
  {{- else }}
  replicas: {{ .Values.autoscaling.minReplicas }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: qtest-session
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: qtest-session
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
    {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{ if .Values.imageCredentials.enabled }}
      {{ if .Values.imageCredentials.existingImageCredentials }}
      imagePullSecrets:
        - name: {{ $existingImageCredentials }}
      {{ else }}
      imagePullSecrets:
        - name: {{ $imageCredentials }}
      {{- end }}
    {{- end }}
      {{- if .Values.extraInitContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      initContainers:
      {{- if eq "string" (printf "%T" .Values.extraInitContainers) }}
{{ tpl .Values.extraInitContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraInitContainers | indent 8 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountsatoken }}
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
{{- if .Values.extraArgs }}
          args:
{{- with .Values.extraArgs }}
{{ toYaml . | indent 12 }}
{{- end }}
{{- end }}
          livenessProbe:
          {{- if .Values.qTestSession.qTestSessionSSLRequired }}
            {{ .Values.livenessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.livenessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          readinessProbe:
          {{- if .Values.qTestSession.qTestSessionSSLRequired }}
            {{ .Values.readinessSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.readinessProbe | toYaml | indent 12 | trim }}
          {{- end }}
          startupProbe:
          {{- if .Values.qTestSession.qTestSessionSSLRequired }}
            {{ .Values.startupSslProbe | toYaml | indent 12 | trim }}
          {{- else }}
            {{ .Values.startupProbe | toYaml | indent 12 | trim }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          ports:
            {{- if .Values.qTestSession.qTestSessionSSLRequired }}
            - containerPort: {{ .Values.service.targetHttpsPort }}
              name: https
            {{- else }}
            - containerPort: {{ .Values.service.targetPort }}
              name: http
            {{- end }}
          env:
            - name: SESSION_JS_HOME
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionJSHome
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionNodeEnvironment
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionPort
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionDBName
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionDBUserName
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: client.jdbc.postgres.password
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionDBHostName
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionDBPort
            - name: SESSION_RO_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: sessionReadOnly
            - name: INSIGHTS_RO_DB_PW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: insightsReadOnly
            {{- if .Values.qTestSession.qTestSessionCustomSchemaEnable }}
            - name: DATABASE_SCHEMA_SESSION
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionCustomSchemaName
            {{- end }}   
            - name: DB_CONNECTION
              {{- if and (.Values.qTestSession.qTestSessionDBSSLEnable) (.Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?schema=$(DATABASE_SCHEMA_SESSION)%s" .Values.qTestSession.qTestSessionDBSSL }}
              {{- end }}
              {{- if and (.Values.qTestSession.qTestSessionDBSSLEnable) (not .Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)%s" .Values.qTestSession.qTestSessionDBSSL }}
              {{- end }}
              {{- if and (not .Values.qTestSession.qTestSessionDBSSLEnable) (.Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?schema=$(DATABASE_SCHEMA_SESSION)" }}
              {{- end }}
              {{- if and (not .Values.qTestSession.qTestSessionDBSSLEnable) (not .Values.qTestSession.qTestSessionCustomSchemaEnable)}}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)" }}
              {{- end }}
            - name: DATABASE_URL
              {{- if and (.Values.qTestSession.qTestSessionDBSSLEnable) (.Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?schema=$(DATABASE_SCHEMA_SESSION)%s" .Values.qTestSession.qTestSessionDBSSL }}
              {{- end }}
              {{- if and (.Values.qTestSession.qTestSessionDBSSLEnable) (not .Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)%s" .Values.qTestSession.qTestSessionDBSSL }}
              {{- end }}
              {{- if and (not .Values.qTestSession.qTestSessionDBSSLEnable) (.Values.qTestSession.qTestSessionCustomSchemaEnable) }}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?schema=$(DATABASE_SCHEMA_SESSION)" }}
              {{- end }}
              {{- if and (not .Values.qTestSession.qTestSessionDBSSLEnable) (not .Values.qTestSession.qTestSessionCustomSchemaEnable)}}
              value: {{ printf "postgresql://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)" }}
              {{- end }}
            - name: QTEST_HOST
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: QTestManagerHost
            - name: DEPLOYMENT_ENV
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionDeploymentEnv
            - name: QTEST_MASTER_TOKEN
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionMasterToken
            - name: SESSION_STORAGE_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestStorageBucketName
            - name: SESSION_STORAGE_TYPE
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionStorageType
            - name: CLAMAV_URL
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionClamavURL
            - name: SESSION_STORAGE_ROOT_PATH
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionStorageRootPath
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.name }}
                  key: {{ .Values.secrets.sessionsSecretKey }}
            - name: SSL_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionIsSSLRequired
            {{- if .Values.qTestSession.qTestSessionSSLRequired }}
            - name: SSL_CERT
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionSSLCert
            - name: SSL_KEY
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionSSLKey
            {{- end }}
            - name: NODE_OPTIONS
              valueFrom:
                configMapKeyRef:
                  name: qtest-session-configmap
                  key: qTestSessionNodeOptions
{{- with .Values.extraEnv }}
{{ toYaml . | indent 12 }}
{{- end }}
          volumeMounts:
          - name: qtest-session-data
            mountPath: /usr/local/sessions-js/logs
          {{- if .Values.qTestSession.qTestSessionDBSSLEnable }}
          - name: qtest-db-secret-volume
            mountPath: {{ .Values.qTestSession.qTestSessionDBSSLMountPath }}
            readOnly: true
          {{- end }}
          {{- if .Values.qTestSession.qTestSessionSSLRequired }}
          - name: qtest-session-secret-ssl-volume
            mountPath: {{ .Values.qTestSession.qTestSessionSSLMountPath }}
            readOnly: true
          {{- end }}
{{- with .Values.extraVolumeMounts }}
{{ toYaml . | indent 10 }}
{{- end }}
      {{- if .Values.extraContainers }}
      # Currently some extra blocks accept strings
      # to continue with backwards compatibility this is being kept
      # whilst also allowing for yaml to be specified too.
      {{- if eq "string" (printf "%T" .Values.extraContainers) }}
{{ tpl .Values.extraContainers . | indent 8 }}
      {{- else }}
{{ toYaml .Values.extraContainers | indent 8 }}
      {{- end }}
      {{- end }}
      volumes:
        - name: qtest-session-data
        {{- if .Values.persistence.existingClaim }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}
        {{- else if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "qtest-session.fullname" . }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- if .Values.qTestSession.qTestSessionDBSSLEnable }}
        - name: qtest-db-secret-volume
          secret:
            secretName: qtest-db-root-secret
        {{- end -}}
        {{- if .Values.qTestSession.qTestSessionSSLRequired }}
        - name: qtest-session-secret-ssl-volume
          secret:
            secretName: qtest-ssl-root-secret
        {{- end }}
{{- with .Values.extraVolumes }}
{{ toYaml . | indent 8 }}
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
