{{- if and .Values.secrets.enabled (not .Values.secrets.existingConfigs) }}
apiVersion: v1
data:
  client.jdbc.postgres.password: "{{ .Values.qTestManager.client.jdbc.postgresPassword}}"
  client.jdbc.postgres.readonly.password: "{{ .Values.qTestManager.client.jdbc.postgresReadOnlyPassword}}"
  mail.password: "{{ .Values.qTestManager.mail.password}}"
kind: Secret
metadata:
  name: qtest-manager-secret
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: Opaque
{{- end }}
{{- if and .Values.imageCredentials.enabled (not .Values.imageCredentials.existingImageCredentials) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.imageCredentials.name }}
  namespace: {{ .Values.namespace.name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}
{{- if .Values.qTestManager.client.jdbc.sslEnable }}
---
apiVersion: v1
kind: Secret
metadata:
  name: qtest-db-root-secret
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: Opaque
data:
  root.crt: "{{ .Values.qTestManager.client.jdbc.cert }}"
{{- end }}