{{- if and .Values.secrets.enabled (not .Values.secrets.existingConfigs) }}
apiVersion: v1
kind: Secret
metadata:
  name: qtest-scenario-secret
  namespace: {{ .Values.namespace.name }}
type: Opaque
data:
  qTestScenarioRefreshTokenSecret: "{{ .Values.qTestScenario.qTestScenarioRefreshTokenSecret| b64enc}}"
  ScenarioJiraCypherKey: "{{ .Values.qTestScenario.ScenarioJiraCypherKey| b64enc}}"
{{- end -}}
{{- if and .Values.imageCredentials.enabled (not .Values.imageCredentials.existingImageCredentials) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.imageCredentials.name }}
  namespace: {{ .Values.namespace.name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}
